In [20]:
import pandas as pd

In [21]:
data = pd.read_csv('data.csv')

In [22]:
data.head()

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [23]:
import numpy as np

In [24]:
cons = np.array(data)[:,:-1]

In [25]:
cons

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [26]:
targ = np.array(data)[:,-1]

In [27]:
targ

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [29]:
def train(c, t):
    for i, val in enumerate(t):
        if val == 'yes':
            h = c[i].copy()
            break
    for i, val in enumerate(c):
        if t[i] == 'yes':
            for x in range(len(h)):
                if val[x] != h[x]:
                    h[x] = '?'
                else:
                    pass
    return h

In [30]:
print(train(cons, targ))

['sunny' 'warm' '?' 'strong' '?' '?']